{% extends 'base.html.twig' %}

{% block title %}Modifier Livre{% endblock %}
  {%  block sliders %} {% endblock %}
{% block body %}
    <h1>Modifier Livre</h1>

    {{ include('livre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('livre_index') }}">back to list</a>

    {{ include('livre/_delete_form.html.twig') }}
{% endblock %}
